/* push the footer to the bottom */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 50px auto -90px;
	width: 960px;
}
footer, .push {
	height: 20px;
	padding: 35px 0;
}

/* end of the footer */

body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 auto;
	color: #777777;
	background-image: url("../images/concrete_seamless.png");
}


h1,h2,h3,h4,h5,h6 {
	font-family: "Georgia", "Times New Roman", Times; serif;
}

h1{
	font-size: 30px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

header{
	border-bottom: 3px solid #cccccc;
	height: 79px;
	padding: 0 14.85%;
	background-color: #ffffff;
}

nav {
	padding-top: 25px;
	color: gray;
}

a {
	text-decoration: none;
	color: #777777;
}

footer {
	clear: both;
	width: 100%;
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, #4aaaa5 0%, #4aaaa5 15%,#000000 15%, #666666 15%, #666666 100%);
}

form {
	margin: 0 25px;
}

.textBox, .textArea {
	width: 100%;
	margin: 10px 200px 10px 0;
	
}

.textBox {
	line-height: 20px;
}

.textArea {
	display: block;
	height: 250px;
}

.mainBody {
	clear: both;
	width: 650px;
	float: left;
	background-color: #ffffff;
	border: thin solid #cccccc;
	margin-bottom: 50px;
}

.sideBar {
	float: right;
	width: 250px;
	background-color: #ffffff;
	border: thin solid #cccccc;
}

.icon {
	width: 25%;
	height: auto;
	padding: 0 2px;
	margin: 5px 0 15px 10px;
}

#submitButton {
	background: #4aaaa5;
	border: none;
	margin-bottom: 25px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 15px;
}

#mainHeading {
	font-size: 26px;
	margin: 25px 25px;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 25px;
}

#mainHeading, #sideHeading {
	color: #4aaaa5;
}

#sideHeading {
	margin: 15px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 15px;
}

#pageTitle {
	float: left;
	background: #4aaaa5;
	color: #ffffff;
	height: 55px;
	padding: 25px 25px 0;
}

#contact, #portfolio, #about {
	float: right;
	padding: 0 20px;
}

#about, #portfolio {
	border-right: thin solid lightgray;
}

#self {
	float: left;
	height: auto;
	width: 25%;
	padding: 0 25px 25px;
}

#intro {
	margin: 0 25px 25px;
	line-height: 150%
}
 
.captions {
	position: absolute;
	background: #4aaaa5;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	width: 270px;
	line-height: 200%;
	margin-top: 125px;
}

.container {
	width: 270px;
	height: 250px;
	border: 2px solid #cccccc;
	margin: 25px 25px;
	float: left;
}

#hangman {
	background-image: url("../images/bike.jpg");
}

#rpgGame {
	background-image: url("../images/vegas.jpg");
}

#trivia {
	background-image: url("../images/board.jpg");
}

#widget {
	background-image: url("../images/lambo.jpg");
}

#rockPaper {
	background-image: url("../images/linux.jpg");
}